body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.topcontainer {
  background-color: #fbe8d3;
  position: relative;
  padding-top: 100px;
}

.middlecontainer {
  height: 200px;
  width: 200px;
  background-color: red;
}

.bottomcontainer {
  height: 200px;
  width: 200px;
  background-color: blue;
}

h1 {
  margin-top: 0;
  color: #283c63;
  font-family: 'Prata', serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.design {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}
